rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /usuarios/{userId} {
      allow read, write: if request.auth != null
        && request.auth.uid == userId;
    }

    match /filmes/{docId} {
      allow read, write: if request.auth != null
        && request.auth.uid == resource.data.uid;
      allow create: if request.auth != null
        && request.auth.uid == request.resource.data.uid;
    }

    match /avaliacoes/{docId} {
      allow read, write: if request.auth != null
        && request.auth.uid == resource.data.uid;
      allow create: if request.auth != null
        && request.auth.uid == request.resource.data.uid;
    }

    match /listas/{docId} {
      allow read, write: if request.auth != null
        && request.auth.uid == resource.data.uid;
      allow create: if request.auth != null
        && request.auth.uid == request.resource.data.uid;
    }
  }
}
